header{
    width: 100%;
    height: 400px;
    border: 2px solid black;
    background-color: brown;
}
footer{
    border: 2px solid black;
    background-color: brown;
    height: 200px;
}





.fullbox{
    width: 100%;


}
